// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Prevent cropping of featured image in post cards
.view-card .img-hover-zoom img {
  transform: none !important;
  transition: none !important;
}

.view-card .article-banner {
  height: auto !important;
  object-fit: contain !important;
}

// Ensure bold renders correctly
strong, b {
  font-weight: 700 !important;
}

// Post card content font size
.view-card .article-style p {
  font-size: 1rem;
}

// Name and role styling in people widget
.people-person .portrait-title h2 {
  font-size: 1.4rem;
}

.people-person .portrait-title h3 {
  font-size: 1rem;
  font-weight: bold;
}
